<div class="index_header">
  <h1>MLB Game Result Blog</h1>
</div>
<p>app/views/articles/index.html.erb</p>


<%= link_to "Create New Article Here", new_article_path %>

<h4><%= button_to 'Delete All Articles', articles_path, method: :delete, class: 'btn btn-danger delete-all-button', data: { confirm: 'Are you sure?' } %>
</h4>


<%=  button_to "View 2023 Game Results", game_results_path, class: "game_results_button"%>

<%= image_tag 'mlb.png', class: "index_image" %>
