<div class="index_header">
  <h1>MLB Game Result Blog</h1>
  <p><%= link_to "Manage Articles", manage_articles_path %><p>


</div>
<p>app/views/articles/index.html.erb</p>



<%= link_to "About", about_path %>




<%=  button_to "View 2023 Game Results", game_results_path, class: "game_results_button"%>

<%= image_tag 'mlb.png', class: "index_image" %>
