<div class="index_header">
  <h1>MLB Game Result Blog</h1>
  <%= link_to "Manage Articles", manage_articles_path, class: "header_button first-of-type" %>
  <%= link_to "About", about_path, class: "header_button last-of-type" %>
</div>


<p>app/views/articles/index.html.erb</p>








<%=  button_to "View 2023 Game Results", game_results_path, class: "game_results_button"%>

<%= image_tag 'mlb.png', class: "index_image" %>
