<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th>Capacity</th>
    </tr>
  </thead>
  <tbody>
    <% @ballparks.each do |ballpark| %>
      <tr>
        <td><%= ballpark[:name] %></td>
        <td><%= ballpark[:city] %></td>
        <td><%= ballpark[:state] %></td>
        <td><%= ballpark[:capacity] %></td>
      </tr>
    <% end %>
  </tbody>
</table>