/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
*= require_tree
*= require_self
*/

@import "bootstrap";

.delete-all-button {
    background-color: rgb(229, 28, 28) !important;
    color: black !important;
    font-weight: bold !important;
    border-color: black !important;

  }
  
.image-container {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
  }

  .article-image-show {
    max-width: 400px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }
  

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  
  ul.list-unstyled {
    list-style: none;
  }

  .index_header  {
    background-color: rgba(0, 45, 114); /* MLB Blue */
    height: 6vh; /* 1 inch thick */
    position: relative;
    
  }

  .index_header h1 {
    position: relative;
    top: 3vh;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0.5em;
    color: rgb(213,0,50); /* MLB Red */
    text-shadow: 1px 1px 1px black;
    font-size: 4em;
    text-align: center;
  }
  .header_button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0.5em;
    display: inline-block;
    white-space: nowrap;
  }
  .header_button:first-of-type {
    left: 5%;
  }
  
  .header_button:last-of-type {
    left: 1%;
  }

  




  .game_results_button {
    display: block;
    text-align: center;
    font-size: 2em;
    margin: 0 auto;
    margin-top: -2vh;
  }
  


  
  .index_image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
  }

  .dark-theme {
    background-color: #121212;
    color: #FFFFFF;
  }
  .dark-theme a {
    color: #FFFFFF;
  }
  
  