/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
  }
  
  .logo img {
    height: 50px;
  }
  
  .nav-links {
    display: flex;
    text-align: center;
  }
  
  .nav-links li {
    margin-left: 1rem;
    list-style: none;
  }
  .nav-links li a {
    color: red;
  }
  .title {
    font-weight: bold;
    font-size: 1.75rem;
    color: red;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }